@import url("header-footer.css");

*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #C1A5A9;
}

.description{
    padding: 0px 120;
    text-align: center;
    margin: 80px;
}

.description h1{
    margin: 40px;
    font-size: xx-large;
}

.description p{
    padding: 0 265px;
    font-size: large;
}

.home-image{
    background-color: rgb(0, 0, 0, 0.6);
    background-image: url("https://images.unsplash.com/photo-1600384851704-caa012bbb25d?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c3RyZWV0JTIwcGFya2luZ3xlbnwwfHwwfHx8MA%3D%3D");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    padding-bottom: 25px;
    width: 100%;
    height: 400px;
    font-size: 20px;
}

.home-image h1{
    text-align: center;
    font-size:40px;
    padding: 150px 250px;
    text-shadow: 4px 4px 2px black;
    color: white;
}

.features-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    background-color: #E6DDE1;
    justify-content: space-around;

}

.features{
    padding: 30px;
    text-align: center;
    border: 1px solid black;
    margin: 40px 80px;
}

.about{
    margin: 40px 60px;
}

.about h1{
    margin: 4px;
    font-size: xx-large;
}

.about p{
    margin: 10px 180px 10px 0;
    font-size: larger;
}